POSTGRES_USER=blog_user
POSTGRES_PASSWORD=blog_password
POSTGRES_DB=blog_db
POSTGRES_PORT=5432

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_PORT=9000

WEB_PORT=8000
SECRET_KEY=1234

DATABASE_URL=postgresql://blog_user:blog_password@db:5432/blog_db
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=blog-images
MINIO_SECURE=False
RABBITMQ_HOST=rabbitmq
SMTP_HOST=mailhog
SMTP_PORT=1025
EMAIL_FROM=noreply@marketplace-blog.com
