POSTGRES_USER=blog_user
POSTGRES_PASSWORD=blog_password
POSTGRES_DB=blog_test_db
DB_HOST=localhost
DB_PORT=5433

SECRET_KEY=4321

TESTING=true

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=test_minio_key
MINIO_SECRET_KEY=test_minio_secret
MINIO_BUCKET=test_bucket
MINIO_SECURE=false

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

API_BASE_URL=http://localhost:8001
TEST_SERVER_PORT=8001
